@import url(https://fonts.googleapis.com/css?family=Passion+One);
/* @import url(https://fonts.googleapis.com/css?family=Muli); */




body {
  font-family: 'Roboto', sans-serif;
  color: #506BFF;
  background-color: #FFF4D2;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #2348FF;
  text-decoration: underline;
}

p {
  margin: 20px;
  padding: 20px;
  font-size: 1.2rem;
  text-align: justify;
}

a{
  margin: 20px;
  padding: 5px;
}

img {
  max-width:  350px;
  max-height: 350px;
  margin: 2px;
  vertical-align: middle;
  border-radius: 55%

}

#divImgs{
 display: block;
 text-align: center;
}
.imgNormal {
  border: 20px solid rgba(0,0,0, 0.0);
}
.imgPicked {
  border: 20px solid red;
}

.imgLeft = { float: left; }

#btnVote:hover{
  background-color: #7982B2;
}

#btnNew:hover {
  background-color: #7982B2;
}

#divStats {
  margin: 30px;
  padding: 30px;
}

#btnVote{
  font-size: 2rem;
  margin-top: 10px;
  style: inset;
}

#btnNew{
  font-size: 2rem;
  margin-top: 10px;
  style: inset;
}
